@import url("main.css");

.header{
    grid-template-columns: 3.5rem 4rem 3.5rem;
}

.main{
    grid-template-rows: 5rem 100%;
    /* min-height: 80vh; */
    /* border: 2px solid greenyellow; */
}

.desc{
    grid-area: des;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5vh 110px;
    /* border: 2px solid green; */
    grid-template-areas:
    "ti"
    "author"
    "ct";
    padding-bottom: 5%;
}

.title{
    grid-area: ti;
    width:100%;
    text-align: left;
    font-weight: 800;
    font-size:2em;
    align-self: center;
    padding-left: 40px;
    /* border:2px solid blue; */
}

.author{
    grid-area: author;
    display: grid;
    grid-template-columns: 70px 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "author_img author_text"
    "author_img author_text";
    padding-left: 40px;
    padding-top: 30px;
    /* border:2px solid red; */
    column-gap: 30px;
}

.author_img{
    height: 180%;
    border-radius: 50%;
    /* border:2px solid purple; */
}

.author_text{
    grid-area: author_text;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border:2px solid purple; */
    row-gap: 5px;
}

.author_date{
    font-size: .75em;
    color:rgba(121, 121, 121, 0.9);
    /* border: 2px solid yellowgreen; */
}

.content{
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 5px;
    gap: 2%;
    /* border: 2px solid purple; */
}

.article_img{
    height: 30%;
    max-width: 500px;
    object-fit: cover;
    /* border: 2px solid red; */

}


