@import url("main.css");

.main{
    grid-template-rows: 5rem;
    /* border: 2px solid greenyellow; */
    height: 790px;
}

.desc{
    grid-area: des;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 100%;
    /* border: 2px solid green; */
    grid-template-areas:
    "ti"
    "ct";
    row-gap: 10px;
}

.title{
    grid-area: ti;
    justify-self: center;
    width: 40%;
    text-align: center;
    font-weight: 800;
    font-size: 2em;
    align-self: center;
    /* border:2px solid blue; */
}

.content{
    grid-area: ct;
    width: 475px;
    height: 630px;
    display: grid;
    justify-content: center;
    justify-self: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    row-gap: 10px;
    /* border: 2px solid red; */
}

.box{
    margin: 10px;
    box-sizing: border-box;
    box-shadow:  0 2px 8px rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid blue; */
}

.post_img{
    filter: grayscale(40%);
}

.subtitle{
    font-weight: 500;
    padding-top: 5px;
    font-size: 0.95rem;
}

.date{
    font-size: .75em;
    color:rgba(121, 121, 121, 0.9);
}

@media (min-width: 700px) {
    .content{
        width: 100vw;
        height: 630px;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
        row-gap: 0px;
        /* border: 2px solid red; */
    }
}

@media (min-width: 1200px) {
    .content{
        width: 1200px;
        height: 630px;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
        row-gap: 0px;
        /* border: 2px solid red; */
    }
}