@import url("main.css");

.main{
    grid-template-rows: 5rem;
    height: 480px;
}

.desc{
    grid-area: des;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 180px 40px 50px;
    grid-template-areas:
    "main_img"
    "ti"
    "ct";
}

.main_img{
    grid-area: main_img;
    width: 180px;
    justify-self: center;
    border-radius: 50%;
}

.title{
    grid-area: ti;
    justify-self: center;
    width: 270px;
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
    padding-top: 2vh;
}

.title>*{
    font-weight: 900;
}

.content{
    grid-area: ct;
    justify-self: center;
    text-align: center;
    padding-top: 2vh;
}

@media (min-height: 600px) {
    .main{
        height:80vh;
        overflow:auto;
    }
}