@import url("footer.css");
@import url("header.css");

a, a:link, a:visited{
    color:black;
}

.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    font-size: 16px;
    background-color: rgb(241, 240, 240);
    /* background-image:
        linear-gradient( rgb(255, 255, 255), 
                         rgba(240, 240, 240, 0.7) ),
        url("../imgs/bg_1.jpg"); */
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    display:grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "hd"
    "des";
}

.bold_text{
    font-weight: 700;
}

.skip-link{
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #0c0c33c5;
    color: white;
    padding: 8px;
    z-index: 100;
}
  
.skip-link:focus {
top: 0;
color: white;
}